html,
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /*background-color: #7c24c4 !important;*/
    background: rgb(107, 22, 208) !important;
    background: linear-gradient(90deg, rgba(107, 22, 208, 1) 0%, rgba(153, 45, 176, 1) 50%, rgba(199, 32, 145, 1) 100%) !important;
}

.content {
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link,
label {
    /*color: #7c24c4 !important;*/
    color: rgba(153, 45, 176, 1) !important;
}

.nav-link.disabled {
    color: #808080 !important;
}

.nav-link:hover {
    color: #808080 !important;
}


.bar.container {
    height: 6vh;
    background-color: white;
    border-radius: 8px;
}

button.btn-shifty-primary,
button.btn-shifty-primary disabled {
    /*background-color: rgba(153, 45, 176, 1);
      border: rgba(153, 45, 176, 1);*/
    background-color: #7c24c4;
    border: #7c24c4;
}

.space-vertical {
    height: 1vh;
    width: 100%;
}

.space-horizontal {
    width: 10px;
    height: 10px;
}

.footer {
    color: white;
    height: 10vh;
    position: fixed;
    bottom: 0;
}

.footer span {
    font-weight: 500;
}